<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="shortcut icon" href="{% static 'img/Navbar/Shortcuticon.png' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg fondonavbar sticky-top " id="navbar">
        <div class="container" style="font-size: 5; ">
          <a class="navbar-brand letras"  href="#" style="font-size: larger;"><img class="logo" src="{% static 'img/Navbar/icon.png' %}" style="width: 100px;" alt=""></a>
          <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" >           
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarResponsive" >
            <ul class="navbar-nav  ml-auto letrasnavbar">
              <li class="nav-item active" > 
                <a class="nav-link letrasnavbar" href="{% url 'Index' %}">Inicio
                </a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link letrasnavbar" href="{% url 'colaborador' %}">Postula como colaborador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link letrasnavbar" href="#">Colaboradores</a>
              </li>
              <li>
                <a class="nav-link letrasnavbar" href="{% url 'noticias' %}">Noticias</a>
              </li>
      </nav>
      

      {% block content %}
 
      {% endblock %}

      <footer class="py-1 fondofooter" id="footer" >
        <div class="container">
            <p class=" letrasfooter"> Síguenos: </p>
            <a target="_blank" class="shared fb st3"  title="Facebook"></a>	
            <a target="_blank" class="shared tt st3" title="Twitter"></a>
            <a target="_blank" class="shared gp st3" title="Google+"></a>
            <a target="_blank" class="shared ce st3" title="Email"></a>
            <a class="navbar-brand "  href="#" style="float:right;"><img class="logo" src="{% static 'img/Navbar/icon.png' %}" style="width: 75px;" alt=""></a>  
            <img class=""  src="{% static 'img/navbar/telefono.png' %}" style="width:40px;float:right;"></img>
            <p class=" letrasfooter" style="float:right"> (572)178-34-146</p>
            <p class="letrasfooter" style="float:right;margin-right: 1cm;"> Contactanos: </p>
<br><br>
            <hr>
          <div align="center">
            <a class="letrasfooter" style="margin-right: 1cm;" href="#">Colaboradores</a>
            <a class="letrasfooter" style="margin-right: 1cm;" href="#">Noticias</a>
            <a class="letrasfooter" style="margin-right: 1cm;" href="#">Sube tu noticia</a>
            <a class="letrasfooter" href="#">Conocenos</a>
          </div>
        </div>
      </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>       
</body >
</html>