{% extends "Base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Index.css' %}">
    <title>Colaboradores</title>
</head>
<body>
    <br><br><br><br>
    <div class="container">
        <h1 class="headers">Nuestros colaboradores: </h1> <br>
          <div class="row">
          {% for noti in colaborador %}
          <div class="col-md-4">
              <div class="card mb-2">
                  <img class="card-img-top foto" src="{{noti.foto.url}}">
                  <div class="card-body">
                      <h5 class="card-title text-uppercase letrasnoticia">{{noti.nombre}}</h5>
                      <a href="{% url 'eliminarColab' noti.rut%}"
                  class="btn botonesmodal letrasmodal" style="float: right;margin-right:  10px;">
                  Eliminar
               </a>
               <a href="{% url 'modificarColab' noti.rut%}"
               class="btn botonesmodal letrasmodal" style="float: right; margin-right:  10px;">
               Modificar
            </a>
                    </div>
              
              </div>
           
          </div>

          {% endfor %}
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>
</body>
{% endblock %}
</html>