{% extends "Base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="{% static 'css/Index.css' %}">
</head>
<body>
    <br><br><br><br><br>
    <div class="container">
        <h1 class="headers">Noticias Destacadas: </h1> <br>
          <div class="row">
          {% for noti in noticias %}
          <div class="col-md-4">
              <div class="card mb-2">
                  <img class="card-img-top foto" src="{{noti.imagen.url}}">
                  <div class="card-body">
                      <h5 class="card-title text-uppercase letrasnoticia">{{noti.titulo}}</h5>
                      <a href="{% url 'noticiaDetail' noti.idnoticia%}"
                      class="btn botonesmodal letrasmodal" style="float: right;">
                       Ver más
                   </a>
                   <a href="{% url 'eliminar' noti.idnoticia%}"
                   class="btn botonesmodal letrasmodal" style="float: right;margin-right:  10px;">
                   Eliminar
                </a>
                <a href="{% url 'modificar' noti.idnoticia%}"
                class="btn botonesmodal letrasmodal" style="float: right; margin-right:  10px;">
                Modificar
             </a>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
<br><br><br><br><br><br><br>
</body>
{% endblock %}
</html>