{% extends "Base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Noticia</title>
    <script>
        $(function() 
        {
          $("formulario").validate({
               rules: {
                      titulo: "required",
                      categoria: "required",
                      imagen: "required",
                      urls: "required",
                      info: "required",
                      },          
                 messages: 
                  {
                    titulo: {
                      required: 'Ingresa un titulo',
                    },
                    categoria: {
                      required: 'Seleccione una categoria ',
                  },
                    imagen:{
                      required: 'Ingrese una imagen',
                      
                  },
                    urls:{
                      required: 'Ingrese un video',
                  },
                   
                    info:{
                      required: 'Ingrese informacion',
                  },
                   
              }//messages
          }); //$('#formulario').validate
      }); //function
      </script>
</head>
<body>
    <br><br><br>
    <div class="container" align="center">
        <div class="jumbotron formulario" >
            <h1 class="headers">Sube tu noticia:</h1>
                <form method="POST" action="#" id="formulario">
                    {%csrf_token%}
                    <div class="form-group letrasforms">
                        {{noticiaform.titulo.label}}
                        {{noticiaform.titulo}}
                    </div>
                    <div class="form-group letrasforms">
                        {{noticiaform.categoria.label}}
                        {{noticiaform.categoria}}
                    </div>
                    <div class="form-group letrasforms">
                        {{noticiaform.imagen.label}}
                        {{noticiaform.imagen}}
                    </div>
                    <div class="form-group letrasforms">
                        {{noticiaform.urls.label}}
                        {{noticiaform.urls}}
                    </div>
                    <div class="form-group letrasforms">
                        {{noticiaform.info.label}}
                        {{noticiaform.info}}
                    </div>
                    <div class="form-group">
                         <input type="submit" class="btn boton" id="enviar" value="Enviar">
                        <input type="reset" class="btn boton" id="limpiar" value="Limpiar">
                    </div>
                </form>
            </div> 
  </div>
  <br><br>
</body>
{% endblock %}
</html>