{% extends "Base.html" %}
{% block content %}
{% load static %}
<head>
  
  <link rel="stylesheet" href="{% static 'css/Index.css' %}">
</head>
<body>
  <br><br><br><br>

<header class="masthead">
    <div class="container d-flex flex-column "> 

        <h1 class="page-section-heading text-uppercase letrasnoticia"> {{noti.titulo}}: </h1>
    <div class="row">
  
        <div class="col-md-8">
          <div class="embed-container">
            <iframe width="720" height="519" src="{{noti.urls}}" frameborder="0" allow="autoplay; encrypted-media"></iframe></div>
          </div>
        <div class="col-md-4"  >
          <br>
          <h3 class="descripcion  letrasnoticia">Descripción</h3>
          <br>
          <p class="texto letrasnoticia">{{noti.info}}</p>
            <br>

         <br>    
        </div>
    </div>
      </header>
    </body>
    <br><br><br><br><br><br><br>
{% endblock %}
