.letrasforms{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6mm;
    color: #ffffff;
    text-shadow: 1px #229696 ,1px #229696;
    margin-right: 2cm;
}

.boton{
    background-color: #032a6d;
    color: rgb(255, 255, 255);
    text-align: center;
    border-color:#00ffff;
    border-style: solid;
}
/*Colores letras y resaltado de navbar*/

.headers{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 1px #229696 ,1px #229696;
}
.formulario{
    background-color: #001b48;
    width: auto;
    text-align: left;
    max-width: 17cm;
    border-radius: 1cm;
    border-color:#00ffff;
    border-style: solid;
}
a:hover{
    color: #00ffff;
}
