img{
    max-width: 1920px;
    max-height: 700px;
}
.card{
    background-color: #001b48;
    border-color:#00ffff;
    border-style: solid;
}
.letrasnoticia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00ffff;
    text-shadow: 1px #229696 ,1px #229696;
}

.headers{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 1px #229696 ,1px #229696;
}
.foto{
    max-width: 520px;
}
.carouselimg{
    max-width: 850px;
    max-height: 520px;
}
.letrascarrusel1{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.modalcolor{
    background-color: #001b48;
}
.botonesmodal{
    background-color: #032a6d;
}
.letrasmodal{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00ffff;
    text-shadow: 1px #229696 ,1px #229696;
}
.headersModal{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00ffff;
    text-shadow: 1px #229696 ,1px #229696;
}